
<div class="form-floating">
    <div class="community-status-filter-container">
        <label class="form-label">Sync Status</label>
        <select onchange="onPartnerStatusChange(this.value);">
            <option value="0">Active</option>
            <option value="1">Inactive</option>
            <option value="2">All</option>
        </select>
    </div>
    <br />
</div>