@{
    var GRID_PARTNER = "GridPartner";
}

<div class="container">
    <h2>Partners</h2>
    <hr />
    <partial name="Partials/_FilterAndNewPartner" />

    <div class="d-flex justify-content-center">
        
        @(Html.Grid(GRID_PARTNER)
            .AddColumn(new Column("ID").SetHidden(true))
            .AddColumn(new Column("Partner Label").SetSortable(true).SetAlign(Align.Center))
            .AddColumn(new Column("Partner").SetSortable(true).SetAlign(Align.Center))
            .AddColumn(new Column("Partner Brands").SetSortable(false).SetAlign(Align.Center))
            .AddColumn(new Column("API Key").SetSortable(false).SetAlign(Align.Center).SetWidth(70))
            .AddColumn(new Column("Sync Status").SetSortable(false).SetAlign(Align.Center).SetWidth(60))
            .AddColumn(new Column("Actions").SetSortable(false).SetAlign(Align.Center).SetWidth(60))
            .SetUrl(Url.Action("GetPartners"))
            .SetRequestType(RequestType.Post)
            .SetWidth(1350)
            .SetHeight(450)
            .SetScrollRows(true)
            .SetRowNum(10000)
            .SetViewRecords(true)
            .SetForceFit(true)
            .OnSelectRow("onPartnerRowSelected(rowid, status)")
            .OnLoadComplete("onPartnerLoadComplete(xhr)")
            .SetLoadText("Partners loading...")
        )
 
    </div>
</div>