@{
    var GRID_PARTNER = "GridPartner";
}

<div class="container">
    <h2>Partners</h2>
    <hr />
    <div class="d-flex justify-content-center">
        
        @(Html.Grid(GRID_PARTNER)
            .AddColumn(new Column("ID").SetHidden(true))
            .AddColumn(new Column("Partner Label").SetSortable(true).SetAlign(MvcJqGrid.Enums.Align.Center))
            .AddColumn(new Column("Partner").SetSortable(true).SetAlign(MvcJqGrid.Enums.Align.Center))
            .AddColumn(new Column("Partner Brands").SetSortable(false).SetAlign(MvcJqGrid.Enums.Align.Center))
            .AddColumn(new Column("API Key").SetSortable(false).SetAlign(MvcJqGrid.Enums.Align.Center).SetWidth(80))
            .AddColumn(new Column("Sync Status").SetSortable(false).SetAlign(MvcJqGrid.Enums.Align.Center).SetWidth(70))
            .AddColumn(new Column("Actions").SetSortable(false).SetAlign(MvcJqGrid.Enums.Align.Center).SetWidth(60))
            .SetRequestType(MvcJqGrid.Enums.RequestType.Get)
            .SetUrl(Url.Action("GetPartners"))
            //.SetAutoWidth(true)
            .SetWidth(1350)
            .SetHeight(450)
            .SetHoverRows(true)
            .SetLoadOnce(true)
            .SetRowNum(10000)
            .SetViewRecords(true)
            .SetForceFit(true)
            //.SetMultiSelect(true)
            //OnSelectRow("onRowSiteSelected(rowid, status)")
            //.OnLoadComplete("loadSites()")
            )
 
</div>

</div>