<div>
    <h2>Reset Password</h2>
    <hr />
    <div class="form-floating mb-3 col-md-6">
        <input type="password" class="form-control" id="floatingInput" placeholder="Password">
        <label for="floatingInput">Password</label>
    </div>
    <div class="form-floating col-md-6">
        <input type="password" class="form-control" id="floatingPassword" placeholder=" Confirm Password">
        <label for="floatingPassword">Confirm Password</label>
    </div>
</div>
