<div>
    <h2>User Information</h2>
    <hr />
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">First Name</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Last Name</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Username</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputZip" class="form-label">Phone Number</label>
            <input type="number" class="form-control" id="inputZip">
        </div>
        <div class="col-12">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                    Is Partner Super Admin?
                </label>
            </div>
        </div>
        
    </form>
        @*<legend>User Information</legend>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label">First Name</label>
                    <div class="controls">
                        <input class="input-block-level" type="text" id="userFirstName" name="firstName" placeholder="First Name" data-bind="value: FirstName" />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Username</label>
                    <div class="controls">
                        <input class="input-block-level" type="text" id="userUserName" name="userName" placeholder="Username" data-bind="value: UserName" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Phone Number</label>
                    <div class="controls">
                        <input class="input-block-level" type="text" id="userPhoneNumber" name="phoneNumber" placeholder="Phone Number" data-bind="value: PhoneNumber" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="row custom-row1 newuser-checkbox">
                        <input class="input-block-level" type="checkbox" id="isPartnerSuperAdmin" name="isPartnerSuperAdmin" data-bind="value: IsPartnerSuperAdmin" />
                        <label class="control-label">Is Partner Super Admin?</label>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="control-group">
                    <label class="control-label">Last Name</label>
                    <div class="controls">
                        <input class="input-block-level" type="text" id="userLastName" name="lastName" placeholder="LastName" data-bind="value: LastName" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                        <input class="input-block-level" type="text" id="userEmail" name="email" placeholder="Email" data-bind="value: Email" />
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="userPartner" name="partner" data-bind="value: AssociationIds">*@
</div>
