@model BHI.SalesArchitect.WebAdmin.Models.RegisterModel
<div>
    <h2>User Information</h2>
    <hr />
    <form class="row g-3" id="update_user_form">
        <div class="col-md-6">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" name="firstName" id="firstName">
        </div>
        <div class="col-md-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="lastName">
        </div>
        <div class="col-md-6">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username">
        </div>
        <div class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email">
        </div>
        <div class="col-md-6">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="number" class="form-control" name="phone" id="phone">
        </div>
        <div class="col-12">
            <input class="form-check-input" type="checkbox" name="gridCheck" id="gridCheck">
            <label class="form-check-label" for="gridCheck"> Is Partner Super Admin? </label>
        </div>
        <br />
        <h2>Reset Password</h2>
        <hr />
        <div class="row text-center">
            <div class="col-md-6">
                <label for="password">Password</label>
            </div>
            <div class="col-md-6">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>                
        </div>
        <br />
        <br />
        <div class="row text-center">
            <div class="col-md-6">
                <label for="confirm_password">Confirm Password</label>
            </div>
            <div class="col-md-6">
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
            </div>
        </div>
    </form>
</div>
       
