<div class="container-fluid">
    <br />
    <form id="popupTitleSettingsForm">
        <h5>Info Labels (These labels will be shown in the popup , please see in the right for pop up preview)</h5>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">HomeSite</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="ISP2_POPUP_HOMESITE" id="homesite" placeholder="Homesite" maxlength="18">
            </div>
        </div>
        <div class="mb-1"></div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Lot Size</label>
            <div class="col-sm-4">
                <input type="text" id="lotSize" name="ISP2_POPUP_LOTSIZE" class="form-control" placeholder="Size" maxlength="25" />
            </div>
        </div>
        <div class="mb-1"></div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Lot Premium Price</label>
            <div class="col-sm-4">
                <input type="text" id="lotPremiumPrice" name="ISP2_POPUP_PRMPRICE" class="form-control" placeholder="Premium Price" maxlength="25" />
            </div>
        </div>
        <div class="mb-1"></div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Block</label>
            <div class="col-sm-4">
                <input type="text" id="lotBlock" name="ISP2_POPUP_BLOCK" class="form-control" placeholder="Block" maxlength="25" />
            </div>
        </div>
        <div class="mb-1"></div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Phase</label>
            <div class="col-sm-4">
                <input type="text" id="lotPhase" name="ISP2_POPUP_PHASE" class="form-control" placeholder="Phase" maxlength="25" />
            </div>
        </div>
        <div class="mb-1"></div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Swing</label>
            <div class="col-sm-4">
                <input type="text" id="lotSwing" name="ISP2_POPUP_SWING" class="form-control" placeholder="Swing" maxlength="25" />
            </div>
        </div>
        <div class="mb-1"></div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Elevation</label>
            <div class="col-sm-4">
                <input type="text" id="lotElevation" name="ISP2_POPUP_ELEVATION" class="form-control" placeholder="Elevation" maxlength="25" />
            </div>
        </div>
        <div class="mb-1"></div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Address</label>
            <div class="col-sm-4">
                <input type="text" id="lotAddress" name="ISP2_POPUP_ADDRESS" class="form-control" placeholder="Address" maxlength="25" />
            </div>
        </div>
        <small>(Max character length: 25, For Homesite: 18)</small>
        <hr>
        <h5>Info Title <small>(These headings will be shown in the popup as shown in the given help image)</small> <span class="tooltip-container"> <i class="bi bi-question-circle text-primary"></i> <span class="tooltip-content"><img src="~/content/images/tooltip.png"> </span></span></h5>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Available Plans in the Community</label>
            <div class="col-sm-4">
                <input type="text" name="ISP2_POPUP_AVLB_PLANS_COMM" class="form-control" placeholder="AVAILABLE PLANS IN THIS COMMUNITY" maxlength="35" />
            </div>
        </div>
        <div class="mb-1"></div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Available Plan in the Community</label>
            <div class="col-sm-4">
                <input type="text" name="ISP2_POPUP_AVLB_PLAN_COMM" class="form-control" placeholder="AVAILABLE PLAN IN THIS COMMUNITY" maxlength="35" />
            </div>
        </div>
        <div class="mb-1"></div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Available Plans on the Lot</label>
            <div class="col-sm-4">
                <input type="text" name="ISP2_POPUP_AVLB_PLANS_LOT" class="form-control" placeholder="AVAILABLE PLANS ON THIS HOMESITE" maxlength="35" />
            </div>
        </div>
        <div class="mb-1"></div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Available Plan on the Lot</label>
            <div class="col-sm-4">
                <input type="text" name="ISP2_POPUP_AVLB_PLAN_LOT" class="form-control" placeholder="AVAILABLE PLAN ON THIS HOMESITE" maxlength="35" />
            </div>
        </div>
        <div class="mb-1"></div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Spec Homes in the Community</label>
            <div class="col-sm-4">
                <input type="text" name="ISP2_POPUP_SPECS_COMM" class="form-control" placeholder="SPEC HOMES IN THIS COMMUNITY" maxlength="35" />
            </div>
        </div>
        <div class="mb-1"></div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Spec Home in the Community</label>
            <div class="col-sm-4">
                <input type="text" name="ISP2_POPUP_SPEC_COMM" class="form-control" placeholder="SPEC HOME IN THIS COMMUNITY" maxlength="35" />
            </div>
        </div>
        <div class="mb-1"></div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Spec Home on the Lot</label>
            <div class="col-sm-4">
                <input type="text" name="ISP2_POPUP_SPEC_LOT" class="form-control" placeholder="SPEC HOME ON THIS HOMESITE" maxlength="35" />
            </div>
        </div>
        <div class="mb-1"></div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Sold Plan on the Lot</label>
            <div class="col-sm-4">
                <input type="text" name="ISP2_POPUP_SOLD_PLAN_LOT" class="form-control" placeholder="SOLD PLAN ON THIS HOMESITE" maxlength="35" />
            </div>
        </div>
        <div class="mb-1"></div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Sold Spec Home on the Lot</label>
            <div class="col-sm-4">
                <input type="text" name="ISP2_POPUP_SOLD_SPEC_LOT" class="form-control" placeholder="SOLD SPEC HOME ON THIS HOMESITE" maxlength="35" />
            </div>
        </div>
        <small>(Max character length: 35)</small>
        <hr>
        <h5>Side Bar Title <small>(These headings will be shown in right panel as shown in the given help image) </small> <span class="tooltip-container"> <i class="bi bi-question-circle text-primary"></i> <span class="tooltip-content"><img src="~/content/images/tooltip-sidebar-help.png"> </span></span></h5>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label">All Plans in this Community</label>
            <div class="col-sm-4">
                <input type="text" name="ISP2_RGTPNL_ALLPLANS" class="form-control" placeholder="ALL PLANS IN THIS COMMUNITY" maxlength="35" />
            </div>
        </div>
        <div class="mb-1"></div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Other Plans in this Community</label>
            <div class="col-sm-4">
                <input type="text" name="ISP2_RGTPNL_OTHERPLANS" class="form-control" placeholder="OTHER PLANS IN THIS COMMUNITY" maxlength="35" />
            </div>
        </div>
        <div class="mb-1"></div>
        <small>(Max character length: 35)</small>
        <hr>
        <h5>Other Titles</h5>
        <div class="mb-1"></div>
        <div class="form-group row" style="margin-bottom:0px !important;">
            <label class="col-sm-3 col-form-label">Lot Status Color Key for Geospatial ISP</label>
            <div class="col-sm-4">
                <input type="text" name="ISP3_LOTSTATUSKEY" class="form-control" placeholder="Lot Status Color Key" maxlength="22" />
            </div>
        </div>
        <small>(Max character length: 22)</small>
        <div class="mb-1"></div>
        <div class="form-group row" style="margin-bottom:0px !important;">
            <label class="col-sm-3 col-form-label">Default Title for Interactive Media</label>
            <div class="col-sm-4">
                <input type="text" name="ISP_INTMEDIATITLE" class="form-control" placeholder="View Media" maxlength="100" />
            </div>
        </div>
        <small>(Max character length: 100)</small>
    </form>
    <br />
    <br />
    <br />
    <nav class="navbar fixed-bottom navbar-expand-lg bg-light justify-content-center">
        <footer class="footer">
            <button type="button" class="btn btn-primary" onclick="updateTitleSettings();">Save changes</button>
            <button type="button" class="btn" onclick="setTitleSettings();">Cancel</button>
        </footer>
    </nav>
</div>
