@if (Request.IsAuthenticated)
{

    <li>
        @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", style = "float:right;" }))
        {
            @Html.AntiForgeryToken()
            <a id="logOff" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </li>
    if (Roles.IsUserInRole("BHIADMIN"))
    {
        <li><a href="/PartnerAdministration">Manage Partners</a></li>
    }
    if (!(Roles.IsUserInRole("PARTNERREADONLY") || Roles.IsUserInRole("LOTSTATUSEDITOR") || Roles.IsUserInRole("PARTNERADMIN")))
    {
        <li><a href="/PartnerConfiguration">Partner Configuration</a></li>
    }
    if (!Roles.IsUserInRole("LOTSTATUSEDITOR"))
    {
        <li><a href="/UserManagement">Manage Users</a></li>
    }
    if (Roles.IsUserInRole("BHIADMIN"))
    {
        <li><a href="/NewHomeNavigator">New Home Navigator</a></li>
    }
    <li><a href="/HelpDocuments">Help</a></li>
    <li>Hello, @User.Identity.Name!</li>



}
else
{
    <!-- <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li> -->
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

}
