<h6>Info Labels (These labels will be shown in the popup , please see in the right for pop up preview)</h6>
<div class="row-fluid">
    <fieldset class="form-horizontal span6">
        <div class="control-group">
            <label class="control-label">Homesite</label>
            <div class="controls">
                <input class="comm-title-input" type="text" id="commlotHomesite" data-bind="COMM_POPUP_HOMESITE" maxlength="18" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Lot Size</label>
            <div class="controls">
                <input class="comm-title-input" type="text" id="commlotSize" data-bind="COMM_POPUP_LOTSIZE" maxlength="25" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Lot Premium Price</label>
            <div class="controls">
                <input class="comm-title-input" type="text" id="commlotPremiumPrice" data-bind="COMM_POPUP_PRMPRICE" maxlength="25" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Block</label>
            <div class="controls">
                <input class="comm-title-input" type="text" id="commlotBlock" data-bind="COMM_POPUP_BLOCK" maxlength="25" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Phase</label>
            <div class="controls">
                <input class="comm-title-input" type="text" id="commlotPhase" data-bind="COMM_POPUP_PHASE" maxlength="25" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Swing</label>
            <div class="controls">
                <input class="comm-title-input" type="text" id="commlotSwing" data-bind="COMM_POPUP_SWING" maxlength="25" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Elevation</label>
            <div class="controls">
                <input class="comm-title-input" type="text" id="commlotElevation" data-bind="COMM_POPUP_ELEVATION" maxlength="25" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Address</label>
            <div class="controls">
                <input class="comm-title-input" type="text" id="commlotAddress" data-bind="COMM_POPUP_ADDRESS" maxlength="25" />
            </div>
        </div>
    </fieldset>

    <div class="modal-static span5">

        <div class="lot-name" id="commHomesite">Homesite 31 / Available</div>

        <div class="otherInfogroup">
            <span class="otherInfo" id="commlotsize"><strong>Size:</strong></span><span class="othrVal">4000</span>
            <span class="otherInfo" id="commlotblock"><strong>Block:</strong></span><span class="othrVal">B</span>
            <span class="otherInfo" id="commlotphase"><strong>Phase:</strong></span><span class="othrVal">P</span>
            <span class="otherInfo" id="commlotswing"><strong>Swing:</strong></span><span class="othrVal">Left</span>
            <span class="otherInfo" id="commlotelevation"><strong>Elevation:</strong></span><span class="othrVal">3</span>
            <div class="otherInfo addr breakAll" id="commlotpremium"><strong>Premium Price: </strong><span>$900</span></div>
            <div class="otherInfo addr breakAll" id="commlotaddress"><strong>Address: </strong><span>6632 Starcross Drive</span></div>
        </div>

        <h3>Available Plans in this Community</h3>
        <ul class="plansul">
            <li>The Manor</li>
            <li>The Hampton</li>
        </ul>

        <p style="font-size:14px;">Front of house faces West. Large corner plot, close to pool and clubhouse.</p>

    </div>

</div>
<div class="controls" style="color:gray;font-size:11px;">(Max character length: 25, For Homesite: 18)</div>
<hr class="style1">

<h6>Info Title (These headings will be shown in the popup as shown in the given help image) <a class="help-icon"><img src="~/Content/images/help-icon.png" /> <div id="tooltip"></div></a></h6>

<fieldset class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Available Plans in the Community</label>
        <div class="controls">
            <input class="comm-title-input" type="text" name="avlbPlansComm" data-bind="COMM_POPUP_AVLB_PLANS_COMM" maxlength="35" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Available Plan in the Community</label>
        <div class="controls">
            <input class="comm-title-input" type="text" name="avlbPlanComm" data-bind="COMM_POPUP_AVLB_PLAN_COMM" maxlength="35" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Available Plans on the Lot</label>
        <div class="controls">
            <input class="comm-title-input" type="text" name="avlbPlansLot" data-bind="COMM_POPUP_AVLB_PLANS_LOT" maxlength="35" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Available Plan on the Lot</label>
        <div class="controls">
            <input class="comm-title-input" type="text" name="avlbPlanLot" data-bind="COMM_POPUP_AVLB_PLAN_LOT" maxlength="35" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Spec Homes in the Community</label>
        <div class="controls">
            <input class="comm-title-input" type="text" name="specHomesComm" data-bind="COMM_POPUP_SPECS_COMM" maxlength="35" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Spec Home in the Community</label>
        <div class="controls">
            <input class="comm-title-input" type="text" name="specHomeComm" data-bind="COMM_POPUP_SPEC_COMM" maxlength="35" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Spec Home on the Lot</label>
        <div class="controls">
            <input class="comm-title-input" type="text" name="specHomeLot" data-bind="COMM_POPUP_SPEC_LOT" maxlength="35" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Sold Plan on the Lot</label>
        <div class="controls">
            <input class="comm-title-input" type="text" name="soldPlanLot" data-bind="COMM_POPUP_SOLD_PLAN_LOT" maxlength="35" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Sold Spec Home on the Lot</label>
        <div class="controls">
            <input class="comm-title-input" type="text" name="soldSpecLot" data-bind="COMM_POPUP_SOLD_SPEC_LOT" maxlength="35" />
        </div>
    </div>
</fieldset>
<div class="controls" style="color:gray;font-size:11px;">(Max character length: 35)</div>
<hr class="style1">
<h6>Side Bar Title (These headings will be shown in right panel as shown in the given help image) <a class="help-icon"><img src="~/Content/images/help-icon.png" /> <div id="tooltip1"></div></a></h6>
<fieldset class="form-horizontal">
    <div class="control-group">
        <label class="control-label">All Plans in this Community</label>
        <div class="controls">
            <input class="comm-title-input" type="text" name="allPlansComm" data-bind="COMM_RGTPNL_ALLPLANS" maxlength="35" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Other Plans in this Community</label>
        <div class="controls">
            <input class="comm-title-input" type="text" name="otherPlansComm" data-bind="COMM_RGTPNL_OTHERPLANS" maxlength="35" />
        </div>
    </div>
</fieldset>
<div class="controls" style="color:gray;font-size:11px;">(Max character length: 35)</div>
<hr class="style1">
<h6>Other Titles</h6>
<fieldset class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Lot Status Color Key for Geospatial ISP</label>
        <div class="controls">
            <input class="comm-title-input" type="text" name="lotStatusKey" data-bind="COMM_LOTSTATUSKEY" maxlength="22" />
        </div>
    </div>
</fieldset>
<div class="controls" style="color:gray;font-size:11px;">(Max character length: 22)</div>