@using MvcJqGrid
@using MvcJqGrid.Enums
@using System.Web.Optimization;

@{
    var COMMUNITIES_GRID = "Communities";
}
<div class="row" >
    <div class="span12 table-fixed-head-container">
        @(
                                 Html.Grid(COMMUNITIES_GRID)
                                    .AddColumn(new Column("ID").SetHidden(true))
                                    .AddColumn(new Column("cell.Name").SetSortable(true).SetAlign(MvcJqGrid.Enums.Align.Center).SetLabel("Community"))
                                    .AddColumn(new Column("cell.Code").SetCustomFormatter("FormatColumn").SetLabel("Deep Link (NHS)"))
                                    .AddColumn(new Column("cell.Code").SetCustomFormatter("FormatColumn").SetLabel("Deep Link (Common)"))
                                    .AddColumn(new Column("cell.NHSQRCode").SetFixedWidth(true).SetCustomFormatter("FormatImage").SetLabel("QR Code(NHS)"))
                                    .AddColumn(new Column("cell.BuilderWebsiteQRCode").SetFixedWidth(true).SetCustomFormatter("FormatImageBuilder").SetLabel("QR Code(Builder)"))
                                    .SetUrl(Url.Action("GetCommunities", new { builderId = ViewBag.builderId,partnerID = ViewBag.partnerId }))
                                    .SetAutoWidth(true)
                                    .SetMultiSelect(true)
                                    .SetRowNum(20)
                                    .SetRequestType(MvcJqGrid.Enums.RequestType.Post)
                                    .OnSelectRow("onRowSelected(rowid, status)")
                                    .OnLoadComplete("CommunitiesLoadCompleted()")
                                    .SetPager("pager")
            @*<form class="generate-community-code">
                <h5 style="margin:40px 0 2px 0">Generate Community Code</h5>
                <input type="text" style="margin: 0;height: 25px;width: 250px;margin-right: 10px;">
                <a href="javascript:void(0)" style="border-bottom: 1px solid #0088cc;text-decoration: none;">Copy Code </a>
            </form>*@
        )
    </div>
</div>
<div class="row " id="botttom-nav">
    <div class="span12">
        <ul>
            <li><a href="javascript:void(0);"  role="button" id="generateAll">Generate All QR Codes</a></li>
            <li><a class="prospect-export" href="javascript:void(0);" id="downloadAllPDF">Download QR Code sheet</a></li>
        </ul>
    </div>
</div>