<div class="">
    <label><strong>The Intro Text </strong></label>
    <textarea id="IntroText" name="" placeholder="@ViewData["PartnerName"] design experts ... every step of the way"></textarea>
</div>
<div class="">
    <label><strong>Did you know?</strong></label>
    <textarea id="DidYouKnow" placeholder="Your design consultant ... more details." name=""></textarea>
</div>
<div class="form-actions">
    <input type="button" class="btn btn-primary " value="Save changes" id="saveChanges" />
    <input type="button" class="btn " value="Cancel" id="cancelChanges" />
</div>