<div id="isp-external-link-section" class="isp-modal-lg">
    <div class="isp-modal-inner kioskview">
        <a href="javascript:void(0);" id="isp-external-link-close" class="close close-rt">&times;</a>
        <iframe src="" title="" id="isp-external-link-iframe"></iframe>
    </div>
</div>
