<div class="row-fluid">
    <div class="head-div">
        <h5>Enable hold on lot feature<div class="tool-tip"><img src="~/Content/images/help-icon.png" style="width:16px;" /><span class="tooltiptext">Enable 'Hold A Lot' feature</span></div></h5>
    </div>
    <div class="radio-div">
        <input type="radio" name="holdALot" value="true" data-bind="checked:HoldALot,event:{change:hideBuilderDiv}" class="isp-radio" /><span class="isp-config">Yes</span>
        <input type="radio" name="holdALot" value="false" data-bind="checked:HoldALot,event:{change:hideBuilderDiv}" class="isp-radio" /><span>No</span>
    </div>
</div>
<br>
<div id="builderDetailsDiv" data-bind="visible:isBuilderDetailsDiv">
    <div class="alert alert-error" id="holdALotErrorDiv" style="display:none;">
        <ul id="holdALotError">

        </ul>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <div class="control-group">
                <label class="control-label">Email Address to Receive Requests</label>
                <div class="controls">
                    <input class="input-block-level" type="text" id="builderEmail" name="builderEmail" data-bind="value:BuilderEmail"/>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="control-group">
                <label class="control-label">Phone Number</label>
                <div class="controls">
                    <input class="input-block-level" type="text" id="builderPhone" name="builderPhone" data-bind="value:BuilderPhone" maxlength="10"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <div class="control-group">
                <label class="control-label">Hold A Lot Button Text</label>
                <div class="controls">
                    <input class="input-block-level" type="text" id="hlButtonText" name="hlButtonText" data-bind="value:HLButtonText" maxlength="50" style="width:350px;"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="partnerCustomContentDiv">
    <div class="head-div">
        <h4>Customizable Content</h4>
        @Html.Partial("Partials/_customizedContent")
    </div>
</div>
<div class="form-actions">
    <input type="button" class="btn btn-primary " value="Save Changes" data-bind="click:saveHoldALotConfiguration" />
    <input type="button" class="btn " value="Cancel" data-bind="click:getHoldALotConfiguration" />
</div>
