<div id="isp-int-media-section" class="isp-modal-lg">
    <div class="isp-modal-inner int-media">
        <a href="javascript:void(0);" id="isp-int-media-close" class="close close-rt">&times;</a>
        <h4>Available Interactive Media</h4>
        <div id="media-links-div">
            <ul id="media-links">

            </ul>
        </div>
    </div>
</div>

