
<div id="ispNotAvailable" class="NAerror-full hide">
    <div>
        <img src="~/Content/images/isp-not-found.jpg" />
    </div>
    <h2>Interactive Site Map is not available</h2>
    <p id="apiKeyError">Invalid Google API key or Client ID.</p>
    @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>*@
</div>