@model bool
@using BHI.SalesArchitect.Core.Enumerations;
<button class="btn" onclick="location.href='/Communities'" type="button">Manage Communities</button>
@if (!Model && (ViewBag.IspPartnerType == (int)CommonEnumerations.IspPartnerType.SVG || ViewBag.IspPartnerType == (int)CommonEnumerations.IspPartnerType.SVGGeoSpatial))
{
    if (!Roles.IsUserInRole("LOTSTATUSEDITOR"))
    {
        <button class="btn " onclick="location.href='/Prospects'" type="button">Manage Prospects</button>
    }
    if (Roles.IsUserInRole("BHIADMIN") || Roles.IsUserInRole("PARTNERSUPERADMIN"))
    {
        @*<button class="btn active" onclick="location.href='/Apps'">Manage Apps</button>*@
        @Html.Action("ManageAppsMenu", "Apps")
        <button class="btn" onclick="location.href='/Reports'" type="button">Navigator Reports</button>
    }
}
 }