<div id="isp-request-info-section" class="isp-modal-lg">
    <div class="isp-modal-inner">
        <form id="isp-request-info-form">
            <div class="isp-modal-header">
                <h2>Request Information</h2>
            </div>
            <div class="isp-modal-body">
                <div class="isp-form-grid">
                    <div class="isp-form-row">
                        <div class="isp-form-group">
                            <label class="isp-form-label">First Name</label>
                            <input type="text" required class="isp-form-input" id="isp-ri-fname" placeholder="" name="First Name" maxlength="30">
                            <span class="isp-field-validation-error"></span>
                        </div>
                        <div class="isp-form-group">
                            <label class="isp-form-label">Last Name</label>
                            <input type="text" required class="isp-form-input" id="isp-ri-lname" placeholder="" name="Last Name" maxlength="30">
                            <span class="isp-field-validation-error"></span>
                        </div>
                    </div>
                    <div class="isp-form-row">
                        <div class="isp-form-group">
                            <label class="isp-form-label">Email Address</label>
                            <input type="email" required class="isp-form-input" id="isp-ri-email" placeholder="" name="Email Address" pattern="^[a-zA-Z0-9._+-]+&#64;[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$">
                            <span class="isp-field-validation-error"></span>
                        </div>
                    </div>
                    <div class="isp-form-row">
                        <div class="isp-form-group">
                            <label class="isp-form-label">Phone Number</label>
                            <input type="number" class="isp-form-input" minLength="10" maxLength="10" id="isp-ri-phone" placeholder="Optional" name="Phone Number">
                            <span class="isp-field-validation-error"></span>
                        </div>
                        <div class="isp-form-group">
                            <label class="isp-form-label">Zip Code</label>
                            <input required class="isp-form-input" id="isp-ri-zip" minlength="5" maxlength="7" placeholder="" name="Zip Code">
                            <span class="isp-field-validation-error"></span>
                        </div>
                    </div>
                    <div class="isp-form-row">
                        <div class="isp-form-group">
                            <label class="isp-form-label">Comments</label>
                            <textarea name="comments" cols="1" rows="5" class="isp-form-input" id="isp-ri-comments" placeholder="Optional"></textarea>
                            <span class="isp-field-validation-error"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="isp-modal-footer isp-align-right">
                <a href="javascript:void(0);" id="isp-ri-close" class="isp-btn isp-border-btn">Cancel</a>
                <input type="button" class="isp-btn isp-btn-default isp-mLeft" id="isp-ri-submit" style="width: 117px;display:inline-block;" value="Send Request">
            </div>
        </form>

        <!--Thank you message start-->
        <div id="isp-request-info-success" class="alert-modal" style="display:none;">
            <div class="isp-modal-header">
                <h2>Success!</h2>
            </div>
            <div class="isp-modal-body">
                <div class="isp-form-grid">
                    Your request for more information on this site plan has been sent. A representative will be getting back to you shortly.
                </div>
            </div>
            <div class="isp-modal-footer">
                <a href="javascript:void(0);" id="isp-ri-success-btn" class="isp-btn isp-btn-default">Great! Let's continue</a>
            </div>
        </div>
        <!--Thank you message end-->
    </div>
</div>