<!-- group row start-->
    <div class="flex flex-column cell-width manage-layer-lots">
    </div>
    <div class="cell-width layer-group manage-layer-block">
    </div>
    <div class="cell-width manage-layer-footprint">
    </div>
    <div class="cell-width manage-layer-lotnumber">
    </div>
    <div class="cell-width manage-layer-planname">
    </div>
    <div class="cell-width manage-layer-all">
    </div>
    <div class="cell-width manage-layer-none">
    </div>
<!-- group row end-->
