@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Communities";
}
<div class="container-fluid">
    <div class="row"><h3>Manage <em>@ViewData["PartnerName"]</em> Users</h3></div>
    <partial name="Partials/_UsersList" />
    <br />
    <partial name="Partials/_UserInformationForm" />
    <br />
</div>
@section Scripts {
    <script src="~/lib/jqgrid/js/i18n/grid.locale-en.min.js" asp-append-version="true"></script>
    <script src="~/lib/jqgrid/js/jquery.jqgrid.min.js" asp-append-version="true"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/lib/jqgrid/js/grid.jqueryui.min.js" asp-append-version="true"></script>
}

@section Styles {
    <link href="~/lib/jqgrid/css/ui.jqgrid.min.css" rel="stylesheet" asp-append-version="true" />
}