<div class="row">
    <div class="col-md-4">
        <b id="lot-count"></b>
        <partial name="Partials/ManageLots/_LotsGrid" />
    </div>
    <div class="col-md-8">
        <partial name="Partials/ManageLots/_LotEditForm" />
    </div>
</div>



