@using BHI.SalesArchitect.WebAdmin.Lib.Extensions
@using System.Web.Optimization;
@{
    Layout = null;
}
<style>
    .upload-error, .name-error {
        color: #b94a48;
        text-align: left;
        display: none;
    }

    .upload-master-plan-ui .control-label {
        width: 130px !important;
    }

    .upload-master-plan-ui .controls {
        text-align: left;
    }

    .upload-master-plan-ui #file-upload {
        float: right;
    }

    input.help-inline {
        color: black;
    }
</style>
@section header {

    @Scripts.Render("~/bundles/jquery-2.0.2")
    @Scripts.Render("~/bundles/jqueryui-1.10.3")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/themes/base/css")

}
<script type="text/javascript">
    $("#myform").validate({
        rules: {
            name: {
                required: true
            },
            file1: {
                required: true
            }
        },
        messages: {
            name: "Please enter name",
            file1: "Please upload a file"
        }
    });
    $(document).ready(function () {
        $('#choose-myformfile').click(function () {
            $('#file1').trigger('click');
        });

        $('#file1').change(function () {

            var fileName = $(this).val();
            var arr = fileName.split("\\");
            if (arr.length > 0) {
                fileName = arr[arr.length - 1];
                $('#myform').find('#filePath').val(fileName);
                if (fileName == '') {
                    $('#myform').find('#filePath').css('display', 'none');
                }
                else {
                    $('#myform').find('#filePath').css('display', '');
                }
            }
            else {

                $('#myform').find('#filePath').val(fileName);
                $('#myform').find('#filePath').css('display', 'none');
            }
            $("#myform").valid();
        });
        $('#myform').on('submit', function (e) {
            var $file = document.getElementById('file1'),
                $formData = new FormData();

            if ($file.files.length > 0) {
                for (var i = 0; i < $file.files.length; i++) {
                    $formData.append('file-' + i, $file.files[i]);
                }
                var splittedFileNme = $file.files[0].name.split('.');
                var len = splittedFileNme.length;
                var extension = $file.files[0].name.split('.')[len - 1];
                if (extension != 'svg') {
                    debugger;
                    saveUnsuccessfulMessage('Invalid Format. (Valid Format is .SVG)');
                    e.preventDefault();
                }
            }

        });
    });
</script>
@using (Html.BeginForm("LoadMasterPlanMap", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "myform" }))
{
    <div class="form-horizontal upload-master-plan-ui">
        <div class="control-group">
            <label for="name" class="control-label">
                Name:
            </label>
            <div class="controls">
                <input type="text" class="input-medium" name="name" id="name" />
            </div>
        </div>
        <div class="control-group">
            <label for="myformfile" class="control-label">
                Filename:
            </label>
            <div class="controls">
                <input type="button" class="btn btn-primary" value="Choose File" id="choose-myformfile" />
                <input type="text" id="filePath" style="display:none;width:225px" readonly="readonly" /><br />
                <input type="file" class="input-file" name="file1" id="file1" style="visibility:hidden;width:0px" />
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Upload" id="file-upload" />
    </div>
}


