#header {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

    #header li {
        font-size: 16.5px;
        color: #333;
    }

#header-username {
    font-weight: bold;
    font-family:'Trebuchet MS';
    font-size:larger;
    color: #bd0a46;
}

#header li:not(:last-child)::after {
    content: "|";
    margin-left: 10px;
    color: #777;
}

.branding a {
    font-size: 36px;
    color: #336699;
    text-decoration: none; 
    font-weight: bold;
}

.branding {
    margin: 10px;
}

#header li a:hover {
    color: #ff6600; 
}

.branding a:hover {
    color: #0db52f;
}
