.toast {
    width: 370px; 
    max-width: 100%; 
    border-radius :5px;
}

.toast-header {
    background-color: #007bff;
    color: white;
    font-size: 18px;
}

    .toast-header .close {
        margin-left: auto; 
    }

.close {
    color: white;
    background-color: transparent;
    border: none;
}