<div>
    <partial name="Partials/ispConfiguration/_LotStatusTable" />
    <div class="mb-3"></div>
    <partial name="Partials/ispConfiguration/_NewLotStatus" />
    <div class="mb-3"></div>
    <partial name="Partials/ispConfiguration/_ConfigurationsForm" />
    <br />
    <nav class="navbar fixed-bottom navbar-expand-lg bg-light justify-content-center">
        <footer class="footer ">
            <button type="button" class="btn btn-primary" onclick="updateISPConfiguration();">Save changes</button>
        </footer>
    </nav>
</div>