<div class="border">
<form>
    <div class="row m-3">

        <div class="col-md-5">
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">New Lot Status Name:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="Type new lot status name..." maxlength="35" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <b>New Lot Status Color: </b>
            <input type="color" name="lotOutlineColor" id="outlineColor" />
        </div>

        <div class="col-md-3">
            <button class="btn btn-primary">Add New Lot Status</button>
        </div>
    </div>
</form>
</div>