#listingsTabContent {
    max-height: 350px;
    overflow-y: auto;
}

#specsTable, #modelsTable, #plansTable {
    overflow-x: auto;
    width: 190%;
}

#plansTable {
    overflow-x: auto;
    width: 160%;
}
