.span12.search-filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.community-status-filter-container {
    display: flex;
    align-items: center;
    margin-right: 20px; 
    border-radius: 6px;
}

.search {
    display: flex;
    align-items: center;
}

.community-status-filter,
#commTypeFilter {
    border: 1px solid #ccc;
    padding: 5px;
    width: auto; 
    max-width: 200px; 
    border-radius: 6px;
}

.searchbox {
    display: flex;
    align-items: center;
    position: relative; 
    border: 1px solid #ccc; 
    border-radius: 6px; 
    padding: 5px; }

    .searchbox input[type="text"] {
        border: none; 
    }

.icon-search img {
    margin-left:10px;
    width: 16px;
    cursor: pointer;
}

#clear-search {
    margin-left:15px;
    text-decoration: none;
}

.tool-tip {
    position: relative;
}

    .tool-tip .tooltiptext {
        visibility: hidden;
        white-space: nowrap; 
        width: auto; 
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        top: -50px;
        left: calc(100% + 10px); /* Adjust the positioning for better visibility */
    }

    .tool-tip:hover .tooltiptext {
        visibility: visible;
    }

    .tool-tip img {
        margin-top: -5px;
        cursor: pointer;
        width: 16px;
    }

.disable {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6; 
}
