@using System.Security.Claims;
@model List<BHI.SalesArchitect.WebAdmin.Models.CommunityGridModel>
@{
    var COMMUNITIES_GRID = "Communities";
}
<div class="sapn-12 overflow-auto">

    @if (User.HasClaim(ClaimTypes.Role, "BHIADMIN"))
    {
        @(Html.Grid(COMMUNITIES_GRID)
            .AddColumn(new Column("ID").SetHidden(true))
            .AddColumn(new Column("cell.Brand").SetSortable(true).SetAlign(Align.Center).SetLabel("Brand").SetWidth(145))
            .AddColumn(new Column("cell.Market").SetSortable(true).SetAlign(Align.Center).SetLabel("Market").SetFirstSortOrder(SortOrder.Desc).SetWidth(145))
            .AddColumn(new Column("cell.ISPName").SetSortable(true).SetAlign(Align.Center).SetLabel("Community Label").SetWidth(150))
            .AddColumn(new Column("cell.Name").SetSortable(true).SetAlign(Align.Center).SetLabel("Community").SetWidth(170))
            .AddColumn(new Column("cell.LotsCount").SetSortable(true).SetAlign(Align.Center).SetWidth(90).SetLabel("# of Lots"))
            .AddColumn(new Column("cell.ProspectCount").SetHidden(ViewBag.IsISPOnly).SetSortable(true).SetAlign(Align.Center).SetWidth(95).SetLabel("# of Prospects"))
            .AddColumn(new Column("cell.Admins").SetAlign(Align.Center).SetWidth(155).SetLabel("Community Admin"))
            .AddColumn(new Column("cell.ISPVersion").SetAlign(Align.Center).SetWidth(125).SetLabel("ISP Version"))
            .AddColumn(new Column("cell.ActivityState").SetHidden(ViewBag.IsISPOnly).SetSortable(true).SetAlign(Align.Center).SetLabel("Sales Navigator").SetWidth(145))
            .AddColumn(new Column("cell.ID").SetAlign(Align.Center).SetWidth(125).SetLabel("ISP Community ID"))
            .AddColumn(new Column("cell.Sites").SetAlign(Align.Center).SetWidth(115).SetLabel("ISP Site ID"))
            .AddColumn(new Column("cell.BDXID").SetAlign(Align.Center).SetWidth(145).SetLabel("BDX Community ID"))
            .AddColumn(new Column("cell.Type").SetAlign(Align.Center).SetWidth(185).SetLabel("Type"))
            .AddColumn(new Column("cell.Status").SetAlign(Align.Center).SetWidth(95).SetLabel("Sync Status"))
            .AddColumn(new Column("cell.DWStatus").SetHidden(ViewBag.showDreamweaver == false).SetAlign(Align.Center).SetWidth(85).SetLabel("DW Status"))
            .AddColumn(new Column("cell.DateDeleted").SetSortable(true).SetAlign(Align.Center).SetLabel("Date Deleted").SetWidth(110))
            .AddColumn(new Column("cell.DeletedBy").SetSortable(true).SetAlign(Align.Center).SetLabel("Deleted By").SetWidth(110))
            .SetUrl(Url.Action("GetCommunitiesGrid"))
            //.SetAutoWidth(true)
            .SetHeight(230)
            .SetRowNum(20)
            .SetAutoEncode(true)
            .SetScrollRows(true)
            .SetRowList(new int[] { 20, 30, 40, 50 })
            .SetPager("pager")
            .SetRequestType(RequestType.Get)
            .SetViewRecords(true)
            .SetRowNumbers(true)
            .SetRowNumWidth(35)
            .OnSelectRow("onCommunitiesRowSelected(rowid)")
            .OnLoadComplete("onCommunitiesLoadComplete()")
            //.SetShrinkToFit(false)
            .SetForceFit(true)
            .SetLoadText("Communities loading...")
            .SetEmptyRecords("<b>No Communities Found.<b>")
            )
    }
    else if (User.HasClaim(ClaimTypes.Role, "PARTNERSUPERADMIN"))
    {
        @(Html.Grid(COMMUNITIES_GRID)
            .AddColumn(new Column("ID").SetHidden(true))
            .AddColumn(new Column("cell.Brand").SetSortable(true).SetAlign(Align.Center).SetLabel("Brand").SetWidth(120))
            .AddColumn(new Column("cell.Market").SetSortable(true).SetAlign(Align.Center).SetLabel("Market").SetFirstSortOrder(SortOrder.Desc).SetWidth(120))
            .AddColumn(new Column("cell.ISPName").SetSortable(true).SetAlign(Align.Center).SetLabel("Community Label").SetWidth(120))
            .AddColumn(new Column("cell.Name").SetSortable(true).SetAlign(Align.Center).SetLabel("Community").SetWidth(130))
            .AddColumn(new Column("cell.LotsCount").SetSortable(true).SetAlign(Align.Center).SetWidth(50).SetLabel("# of Lots"))
            .AddColumn(new Column("cell.ProspectCount").SetHidden(ViewBag.IsISPOnly).SetSortable(true).SetAlign(Align.Center).SetWidth(73).SetLabel("# of Prospects"))
            .AddColumn(new Column("cell.Admins").SetAlign(Align.Center).SetWidth(135).SetLabel("Community Admin"))
            .AddColumn(new Column("cell.ISPVersion").SetAlign(Align.Center).SetWidth(55).SetLabel("ISP Version"))
            .AddColumn(new Column("cell.ActivityState").SetHidden(ViewBag.IsISPOnly).SetSortable(true).SetAlign(Align.Center).SetLabel("Sales Navigator").SetWidth(109))
            .AddColumn(new Column("cell.ID").SetAlign(Align.Center).SetWidth(90).SetLabel("ISP Community ID"))
            .AddColumn(new Column("cell.Sites").SetAlign(Align.Center).SetWidth(55).SetLabel("ISP Site ID"))
            .AddColumn(new Column("cell.BDXID").SetAlign(Align.Center).SetWidth(100).SetLabel("BDX Community ID"))
            .AddColumn(new Column("cell.Type").SetAlign(Align.Center).SetWidth(155).SetLabel("Type"))
            .AddColumn(new Column("cell.Status").SetAlign(Align.Center).SetWidth(65).SetLabel("Sync Status"))
            .AddColumn(new Column("cell.DWStatus").SetHidden(true))
            .AddColumn(new Column("cell.DateDeleted").SetHidden(true))
            .AddColumn(new Column("cell.DeletedBy").SetHidden(true))
            .SetUrl(Url.Action("GetCommunitiesGrid"))
            .SetAutoWidth(true)
            .SetHeight(230)
            .SetAutoEncode(true)
            .SetScrollRows(true)
            .SetViewRecords(true)
            .SetGridView(true)
            .SetRequestType(RequestType.Get)
            .SetRowList(new int[] { 20, 30, 40, 50 })
            .SetPager("pager")
            .SetViewRecords(true)
            .SetShrinkToFit(true)
            .OnSelectRow("onCommunitiesRowSelected(rowid)")
            .OnLoadComplete("onCommunitiesLoadComplete()")
            .SetLoadText("Communities loading...")
            .SetEmptyRecords("<b>No Communities Found.<b>")
            )
    }
    else
    {
        @(Html.Grid(COMMUNITIES_GRID)
            .AddColumn(new Column("ID").SetHidden(true))
            .AddColumn(new Column("cell.Brand").SetSortable(true).SetAlign(Align.Center).SetLabel("Brand").SetWidth(120))
            .AddColumn(new Column("cell.Market").SetSortable(true).SetAlign(Align.Center).SetLabel("Market").SetFirstSortOrder(SortOrder.Desc).SetWidth(120))
            .AddColumn(new Column("cell.ISPName").SetSortable(true).SetAlign(Align.Center).SetLabel("Community Label").SetWidth(120))
            .AddColumn(new Column("cell.Name").SetSortable(true).SetAlign(Align.Center).SetLabel("Community").SetWidth(130))
            .AddColumn(new Column("cell.LotsCount").SetSortable(true).SetAlign(Align.Center).SetWidth(50).SetLabel("# of Lots"))
            .AddColumn(new Column("cell.ProspectCount").SetHidden(ViewBag.IsISPOnly).SetSortable(true).SetAlign(Align.Center).SetWidth(73).SetLabel("# of Prospects"))
            .AddColumn(new Column("cell.Admins").SetAlign(Align.Center).SetWidth(125).SetLabel("Community Admin"))
            .AddColumn(new Column("cell.ISPVersion").SetHidden(true))
            .AddColumn(new Column("cell.ActivityState").SetHidden(ViewBag.IsISPOnly).SetSortable(true).SetAlign(Align.Center).SetLabel("Sales Navigator").SetWidth(109))
            .AddColumn(new Column("cell.ID").SetAlign(Align.Center).SetWidth(70).SetLabel("ISP Community ID"))
            .AddColumn(new Column("cell.Sites").SetAlign(Align.Center).SetWidth(45).SetLabel("ISP Site ID"))
            .AddColumn(new Column("cell.BDXID").SetAlign(Align.Center).SetWidth(80).SetLabel("BDX Community ID"))
            .AddColumn(new Column("cell.Type").SetAlign(Align.Center).SetWidth(135).SetLabel("Type"))
            .AddColumn(new Column("cell.Status").SetAlign(Align.Center).SetWidth(65).SetLabel("Sync Status"))
            .AddColumn(new Column("cell.DWStatus").SetHidden(true))
            .AddColumn(new Column("cell.DateDeleted").SetHidden(true))
            .AddColumn(new Column("cell.DeletedBy").SetHidden(true))
            .SetUrl(Url.Action("GetCommunitiesGrid"))
            .SetAutoWidth(true)
            .SetHeight(230)
            .SetAutoEncode(true)
            .SetScrollRows(true)
            .SetViewRecords(true)
            .SetGridView(true)
            .SetRequestType(RequestType.Get)
            .SetRowList(new int[] { 20, 30, 40, 50 })
            .SetPager("pager")
            .SetViewRecords(true)
            .SetShrinkToFit(true)
            .OnSelectRow("onCommunitiesRowSelected(rowid)")
            .OnLoadComplete("onCommunitiesLoadComplete()")
            .SetLoadText("Communities loading...")
            .SetEmptyRecords("<b>No Communities Found.<b>")
            )
    }
</div>


