
@{
    ViewBag.Title = "Index";
}

<div class="nhsInsightsPrivacyContent">
    <h1><span>Privacy Policy</span></h1>
    <div>
        <p>
            Builder Homesite, Inc.  ("<strong>We</strong>" "<strong>Our</strong>" "<strong>Us</strong>" or "<strong>BHI</strong>") are committed to protecting and respecting your privacy.&nbsp; This privacy policy describes howe we collect, use, share and secure the personal information you provide to us and also describes the choices available to you regarding our use of your personal information.
        </p>
        <p>
            <strong>Our privacy&nbsp;commitment to you</strong>
        </p>
        <p> Headquartered in Austin, Texas, Builder Homesite, Inc. (BHI) was founded with the mission to bring homebuilding industry leaders together to develop world class technology solutions. Our flagship product is NewHomeSource.com, a consumer website featuring the Internet’s most comprehensive selection of new homes.  We often reach out to home shoppers to help give us insights into the home shopping process. You can be assured your privacy and the confidentiality of your information is of the utmost importance to us. All of the data we collect via our home shopping community are used for internal guideance on the development of products and/or services and can be provided to our clients in aggregate form only.  We will never provide your personal information to our clients unless we have first received your consent. All personal information you do provide to us is held securely, in confidence and in accordance with the terms of this Privacy Policy.</p>
        <p>
            <strong>The information we collect</strong>
        </p>
        <p>
            BHI gathers contact and personal information when an individual registers to become a member of our NHS Insights community. Your participation is completely voluntary and you can unsubscribe to the community at any time by selecting the unsubscribe feature at the bottom of any email sent to you with news or survey invitations. After registration we ask Community members to provide us with more information so that we may target members for appropriate surveys or research projects. To become a New Home Source Insights Community member (the "<strong>Community</strong>"), we ask that you fill out a registration survey that gathers some personal and general consumer information. We ask for your email address so that we can send you email invitations to participate in our upcoming surveys and research projects.  We may also email you to send you newsletters to make you aware of new features or contests running on the site. The other information we gather, such as your name, address, gender, birthday and employment status is for matching you with the appropriate marketing research projects. Your birthday is used to automatically update your age for us to target age-related marketing groups. We ask you for this information as a means to see if you might qualify for particular projects. All email contact from Community will be sent to your primary email address that you gave to us upon registration. If you become a Community member, your information (e.g. First initial, last name, email, city/state) is also used for the purposes of incentive fulfillment. If you are deteremined as the winnder in a sweepstakes, this information is required so that we may send your reward to the appropriate recipient address.
        </p>
        <p>
            You should be aware that any personal information you choose to make public on the site, in the Community area (as an opinion or topic in a message board or live chat or any other public area or forum) can be read, collected, or used by other users and could be used to send you unsolicited messages. We are not responsible for the personal information you choose to submit or make public. In addition, we are not responsible for the content you publicly post on the site that can be found via web-based search engines. To request removal of your personal information from our blog or community forum, contact us at&nbsp;<a href="mailto:support@newhomesourceinsights.com">support@newhomesourceinsights.com</a>. In some cases, we may not be able to remove your personal information, in which case we will let you know if we are unable to do so and why
        </p>
        <p>
            We display personal testimonials of satisfied customers on our site in addition to other endorsements. With your consent we may post your testimonial along with your name. If you wish to update or delete your testimonial, you can contact us at&nbsp;<a href="mailto:support@newhomesourceinsights.com">support@newhomesourceinsights.com</a>.
        </p>
        <p>
            <strong>Binding Arbitration</strong>
        </p>
        <p>
            You may have the option to select binding arbitration for the resolution of your complaint under certain circumstances, provided you have taken the following steps: (1) raised your compliant directly with BHI and provided us the opportunity to resolve the issue; (2) made use of the independent dispute resolution mechanism identified under the<a href="#Questions and Complaints">&nbsp;</a><a href="https://www.newhomesourceinsights.com/group/nhsportal/privacy-policy#Questions and complaints">Questions or Complaints&nbsp;</a>paragraph; and (3) raised the issue through the relevant data protection authority and allowed the US Department of Commerce an opportunity to resolve the complaint at no cost to you. For more information on binding arbitration, see US Department of Commerce's Privacy Shield Framework: Annex I (Binding Arbitration).
        </p>
        <p>
            <strong>Use of this information</strong>
        </p>
        <p> The information you provide to us is processed for the purpose of building and operating a proprietary database of panelists, in order to conduct marketing and market research studies.&nbsp; If you are a member of the Community, your information is stored in our proprietary database so we may call upon it to determine which people match up with specific research studies. If we think your profile makes you a potential candidate for a study, we will email you an invitation to make you aware of this opportunity. From time to time BHI may use third-party software for email list management and email distribution, or may use third party list management providers to match the members of our Community to members of other lists or panels, or to validate accuracy of personal information you provide. We may use third parties to provide us with data they have collected about you, and append this data to your demographic profile. In such cases only a minimum amount of information is transferred to these third parties so as to enable them to perform specific functions on our behalf. We also may share your information with our service providers, such as to provide prizes you have won or other incentives for your participation in our panels.</p>
        <p>
            <strong>Sharing</strong>
        </p>
        <p> We do not sell or transfer the personal information collected about our Community members or the individuals that take surveys for us. Information which is personally identifiable will only be transferred with your prior permission on a case by case basis, except for the narrow exceptions specified below.</p>
        <p> Though we make every effort to preserve your privacy, we may need to disclose your personal information in response to lawful requests by public authorities, including to meet national security or law enforcement requirements. We may also disclose your personal information as required by law, such as to comply with a subpoena or other legal process, when we believe in good faith that disclosure is necessary to protect our rights, to protect your safety or the safety of others, to investigate fraud or breaches of our site terms, or to respond to a government request.&nbsp; We may also in certain specific market research programs (and with your express prior consent) disclose your personal information to third parties for the purposes of providing such specific market research services to our client.</p>
        <p>
            <strong>The Use of Cookies&nbsp;on the Community website</strong>
        </p>
        <p> We use cookies on our website to distinguish you from other users of the website, helping us to provide you with a good experience when you browse our website and allowing us to improve our site.</p>
        <p>
            <strong>Social Media Widgets</strong>
        </p>
        <p> The Community Website may include social media features, such as the Facebook Like button (and widgets, such as the Share this button or interactive mini-programs that run on our site). These features may collect your IP address, which page you are visiting on our site, and may set a cookie to enable the feature to function properly. Social media features and widgets are either hosted by a third party or hosted directly on the Community website. Your interactions with these features are governed by the privacy policy of the company providing it.</p>
        <p>
            <strong>Access to Your Information; Member Services Area/Update, Correct, Delete Information</strong>
        </p>
        <p>
            Upon request, BHI will provide you with information about whether we hold any of your personal information. We will respond to all requests within a reasonable timeframe.
        </p>
        <p> If you are a Community member and terminate your membership, we will no longer use your personal information for any purposes other than accumulative reporting, but in accordance with our backup procedures. We will retain your personal information until it is eventually destroyed in accordance with our policies and we will continue to employ the security procedures and technologies to keep your Personal Information safe.</p>
        <p>
            <strong>Opt-Out Policy</strong>
        </p>
        <p> By becoming a Community member, you agree to receive Emails inviting you to participate in surveys that we feel may match your experiences, background and demographic statistics or information. From time to time, we will also email newsletters to you to make you aware of new features or contests running on our site.</p>
        <p>
            <strong>Delete/Deactivate policy</strong>
        </p>
        <p>
            If you choose to end your membership with the Community or to require us to cease processing your personal information, you may automatically discontinue your membership by clicking Unsubscribe in the footer of any of our emails.  As an alternative, you may send an email directly to&nbsp;<a href="mailto:insightsupport@newhomesource.com">insightsupport@newhomesource.com</a>&nbsp;requesting to be removed. By following the appropriate directions, your record will be marked as "unsubscribed", and you will no longer receive communications from the Community. In addition, you will forfeit any incentive balance that has not been requested as of the time you opt out. In most cases it will take 2 to 3 days to process this change, but please allow up to two full weeks for your status to be finalized. In the meantime, you may receive emails from us. Email links are provided on the site so that you may contact us directly with any questions or concerns you may have. Each email we receive is read and responded to individually; please allow two to three business days for us to get back to you.
        </p>
        <p>
            <strong><a name="Questions and Complaints"></a>Questions or Complaints</strong>
        </p>
        <p>
            You can direct any questions or complaints about the use or disclosure of your Personal information to our&nbsp;<a href="#Privacy Contact">Privacy Contact</a>.&nbsp; We will investigate and attempt to resolve any complaints or disputes regarding the use or disclosure of your Personal information within 45 days of receiving your complaint.
        </p>
        <p>
            <strong>Winners Policy</strong>
        </p>
        <p>
            Community members are randomly selected to win prizes for participation in surveys, polls, and other promotions. All winners are notified by email of their winnings. For more information, please visit our&nbsp;<a href="https://www.newhomesourceinsights.com/terms-of-use">Terms and Conditions&nbsp;</a>page. We shall post the usernames or first name and first initial of last name of winners on the Members Page or communicate them via newsletter to all panelists.
        </p>
        <p>
            <strong>Notification of changes</strong>
        </p>
        <p> If we decide to change our privacy policy, we will post those changes to this privacy statement on the home page, or other places we deem appropriate so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it.</p>
        <p> We reserve the right to modify this privacy statement at any time, so please review it frequently. If we make material changes to this policy, we will notify you here, by email, or by means of a notice on our home page prior to the change becoming effective.&nbsp;</p>
        <p>
            <strong>Security</strong>
        </p>
        <p> We take stringent measures to ensure every aspect of your information is kept secure. Access to all personal information is restricted and limited to few key personnel. Our website security is reviewed periodically and can only be accessed via our password policy.&nbsp; We will never ask you for financial information such your credit card details or other highly sensitive information such as your social security number to be used as part of our research.&nbsp; However, we may be required by law to ask for your social security number or other government-issued identifier to comply with reporting laws and regulations if you are the recipient of survey incentives. We use SSL encryption when collecting or transmitting such sensitive information.</p>
        <p>
            <strong>Links</strong>
        </p>
        <p> From time to time we may offer visitors the ability to voluntarily link to other sites. BHI does not review, and is not responsible for, the content or effect of the privacy policies of these sites.&nbsp;</p>
        <p>
            <strong>Legal disclaimer</strong>
        </p>
        <p> We may disclose personal information when required by law or in the good-faith belief that such action is necessary to conform to applicable law or to comply with a legal process served on our site.&nbsp;</p>
        <p>
            <strong>Children's privacy</strong>
        </p>
        <p> BHI will not knowingly collect any information from any child under the age of 18.&nbsp;</p>
        <p>
            <strong><a name="Privacy Contact"></a>Privacy contact</strong>
        </p>
        <p> The Privacy Officer NHS Insights Community:</p>
        <p>
            <u>Privacy contact:</u><br> Privacy Officer<br> Builder Homesite Inc. <br> 11900 Ranch Road 620<br> Austin, Texas 78750<br> USA<br> E-Mail:&nbsp;<a href="mailto:support@newhomesourceinsights.com">support@newhomesourceinsights.com</a>
        </p>
        <p> &nbsp;</p>
        <p> Last Updated: January 2017</p>
    </div>
</div>

