@{
    ViewBag.Title = "Pdf File Not Available";
}

<p>   
    <h4>PDF generation is in progress, Please try after a moment.</h4>

    <a href="javascript: window.history.back();"><strong>Go Back</strong></a>   
</p>
