<div class="container-fluid">
    <partial name="Partials/communityCustomizableContent/_TitlesForm" />
    <partial name="Partials/communityCustomizableContent/_CustomizedContentTable" />
    <br/>
    <nav class="navbar fixed-bottom navbar-expand-lg bg-light justify-content-center">
        <footer class="footer ">
            <button type="button" class="btn btn-primary" onclick="updateCommunityTitles();">Save changes</button>
        </footer>
    </nav>
</div>
