@{
    var COMMUNITY_GRID = "Community_Grid";
}
<div class="container-fluid">
    @(Html.Grid(COMMUNITY_GRID)
        .AddColumn(new Column("ID").SetHidden(true))
        .AddColumn(new Column("Community").SetSortable(false).SetAlign(MvcJqGrid.Enums.Align.Center))
        .SetRequestType(RequestType.Get)
        .SetAutoWidth(true)
        .SetUrl(Url.Action("GetCommunities"))
        .SetRowNum(10000)
        .SetViewRecords(true)
        .SetMultiSelect(true)
        //.OnSelectAll("selectAllComm(status)")
        //.OnSelectRow("onRowCommSelected(rowid, status)")
        )
</div>